body {
  font-family: 'Open Sans', sans-serif;
}

.content {
  margin:100px
}

.fp-slidesNav.bottom {
		bottom: 25px;
	}
.separator {
  margin-left: 15em;
  width: 65em;
}
.firstp {
  margin-top: 10px;
}
#introduction li:before {
  content: '✔';
  color: white;

  margin-right: 30px;
  margin-left: -77px;
  font-size: 30px;
  vertical-align: 26px;
}
.general_image {
  width: 30%;
  margin-left: 65%;
  margin-top: -3%;
}
#introduction h1 {
  position: relative;
  margin-left: 1.2em;
  font-size: 4.8em;
  margin-bottom: 0.1em;
}
#introduction p {
  margin-left: 4em;
  font-size: 1.78em;
  margin-right: 9em;
  line-height: 1.38em;

}
#introduction ul {
  margin-top: -29%;
  margin-left: 1.5em;
  font-size: 6.9em;
  line-height: 117%;
  list-style: disc;
  color: #018FC5;
}
#introduction ul li span {
  color: black;
  font-size: 0.3em;
  vertical-align:middle;
}
.team_image1{
  width: 55%;
  margin-top: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.team_image2{
  width: 80%;
  margin-top: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto
}
.je-image {
  float: left;
  width: 28%;
  margin-left: 10px;
}
.footer{
  float: left;
  width: 425px;
  margin-top: -75px;
  margin-right: -160px;
  margin-left: 68px;
}

.footer-logo {
  display: inline-block;
  float: left;
  padding-top: 7em;
}

.footer_information2 {
  display: inline-block;
  padding-right: 10em;
  padding-left: 15em;
  vertical-align: top;
}

.footer_information {
  display: inline-block;
  vertical-align: top;
}

.footer_li {
  font-size: 1em;
}

#footer_telefone {
  font-size: 1em;
}

#contacte{
  display: block;
}
#junior1 p {
  color: black;
}
.twitters{
  display: flex;
  justify-content: center;
}
#junior2 p{
  color: white;
}
#junior3 p{
  color: black;
}
.question{
  margin-left: 140px;
  font-size: 28px;
  color: #989898;
}

.answer{
    font-size: 23px;
    margin-left: 90px;
    margin-right: 70px;
}
.answer2{
  font-size: 23px;
  color: white;
  margin-left: 90px;
  margin-right: 70px;
}
.by{
  float: right;
  margin-right: 35px
}
