body {
  font-family: 'Open Sans', sans-serif;
}

.content {
  margin:100px
}

.fp-slidesNav.bottom {
		bottom: 25px;
	}
.separator {
  margin-left: 250px;
  width: 931px;
}
.firstp {
  margin-top: 10px;
}
#introduction li:before {
  content: '✔';
  color: white;

  margin-right: 30px;
  margin-left: -77px;
  font-size: 30px;
  vertical-align: 26px;
}
.general_image {
  width: 30%;
  margin-left: 65%;
  margin-top: -3%;
}

#header {
		top:0px;
    position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: rgba(255, 255, 255, 0);
		z-index:9;
		color: rgba(255, 255, 255, 0);
		padding: 20px 0 0 0;
  }
#header img {
  float: left;
  width: 28%;
  margin-left: 10px;
}

#introduction h1 {
  position: relative;
  margin-left: 75px;
  font-size: 70px;
  margin-bottom: 10px;
}
#introduction p {
  margin-left: 100px;
  font-size: 1.78em;
  margin-right: 360px;
  line-height: 38px;

}
#introduction ul {
  margin-top: -29%;
  margin-left: 140px;
  font-size: 110px;
  line-height: 117%;
  list-style: disc;
  color: #018FC5;
}
#introduction ul li span {
  color: black;
  font-size: 30px;
  vertical-align:middle;
}
#junior1 img {
  width: 50%
}
#junior2 img{
  width: 60%
}
